/* Estructura de pantalla dividida */
.login-page {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Secci贸n izquierda con el logo y el texto */
.login-left {
  flex: 1;
  background-color: rgba(115, 96, 96, 0.222); /* Color de fondo suave */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  color: #333;
}

.login-logo {
  width: 650px;
  height: auto;
  margin-bottom: 20px;
}

.login-left h2 {
  font-size: 2rem;
  color: #d9d4d4; /* Color de marca */
  margin-bottom: 10px;
}

.login-left p {
  font-size: 1.1rem;
  max-width: 300px;
  color: #dad0d0;
}

/* Secci贸n derecha con el formulario */
.login-right {
  flex: 1;
  background-color: rgba(210, 199, 199, 0.83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-right h1 {
  color: #ff4d4d;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Estilos del formulario */
.login-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

/* Grupo de input */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-weight: bold;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #ff4d4d;
  outline: none;
}

/* Bot贸n de inicio de sesi贸n */
.login-button {
  padding: 12px;
  background-color: #ff4d4d;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #d42a2a;
}

/* Mensaje de error */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 15px;
}
